body {
  margin: 0;
  width: 100%;
  cursor: default;

  background-color: rgba(220, 220, 220, 0.75);
  background-repeat: no-repeat;

  /* Disable tablet highlight */
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);

  /* Disable text selection as a default for whole body  */
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  overflow-x: hidden;
}

@font-face
{
    font-family: "Andika";
    src: url('../assets/fonts/Andika-R.ttf');
}

@font-face {
    font-family:"arvo";
    src: url('../assets/fonts/Arvo-Regular.ttf');
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"arvo";
    src: url('../assets/fonts/Arvo-Bold.ttf');
    font-style:normal;font-weight:700;
}

@font-face {
    font-family:"arvo";
    src: url('../assets/fonts/Arvo-Italic.ttf');
    font-style:italic;font-weight:400;
}

@font-face {
    font-family:"arvo";
    src: url('../assets/fonts/Arvo-BoldItalic.ttf');
    font-style:italic;font-weight:700;
}

/* Surya */
.user-profile{
	background-color:rgba(220, 220, 220, 0.75);
	font-family: "Andika";
	position: relative;
	height:auto;
	width:auto;
	overflow: hidden;
}

.organizer-profile {
	background-color:rgba(220, 220, 220, 0.75);
	font-family: "Andika";
	position: relative;
	height:auto;
	width:auto;
	overflow: hidden;
}
/* 
.profile {
	top: 120px;
	position: relative;
	font-family: "Andika";
	left:120px;
}
.userProfileNavTabs {
	margin-top: 120px;
	position: relative;
	font-family: "Andika";
	margin-left: 120px;
	height: auto;
} */
.organizerMenuSection {
	top: 120px;
	left:120px;
	position:relative;
	height:1200px;
	float:left;
	width:220px;
}
.organizerContentSection {
	position: relative;
	top: 120px;
	left: 120px;
}
.OrganizerReportSection {
	position: relative;
	top: 120px;
	left: 10px;
}
.loadmore {
	width: 150px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	color: black;
	border: 1px solid rgba(252, 243, 27, 1.0);
	background-color: rgba(252, 243, 27, 0.8);
	border-radius: 5px;
	cursor: pointer;
}
.changepassword {
	-moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
	cursor: pointer;
	font:'Andika';
}
.hi {
  color: #C7254E;
}
.hiw {
  /*color: #fff;*/
}
.page-view {
	padding-top: 60px;
}
.search {
	padding-top: 12px;
}

.nav-tabs > li > a {
  height: auto;
  text-transform: uppercase;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #C7254E;
  color: #fff;
}

.loading, .none, .more {
  text-align: center;
  margin: 23px 0;
}
.help {
  color: #999;
}
.picture {
  display: inline-block;
  width: 120px;
}
.change-picture {
  position: relative;
  top: -23px;
  color: #fff;
  background: #aaa;
  padding: 2px 0;
  text-align: center;
  display: inline-block;
  width: 120px;
  opacity: 0.65;
  cursor: pointer;
}
.user-profile .picture:hover .change-picture {
  opacity: 1;
}
.user-profile .user-profile-pic {
  height: 120px;
  width: 120px;
  background-color:rgba(1,1,1,.5);
}
.user-overview .event {
  position: relative;
}
.user-overview .remaining {
  background: url('../assets/images/icon_pricetag.png') no-repeat;
  height: 102px;
  width: 80px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 40px;
  text-align: center;
  opacity: 0.9;
  color: #C7254E;
  font-weight: normal;
  font-size:13px;
}
.user-overview .desc {
  height: 120px;
  text-overflow: elipsis;
  overflow: hidden;
}
.user-overview .fees {
  margin-right: 23px;
  color: #333;
}
.user-overview .booked {
  color: #e1570e;
  font-weight: bold;
  margin-left: 16px;
}

.user-reviews .review {
  position: relative;
  height: 220px;
}
.user-reviews .review img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  z-index: -1;
}
.user-reviews .review .title {
  margin-top: -80px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 200px;
  font-weight: bold;
}
.user-reviews .review .desc {
  padding-left: 210px;
  height: 180px;
}
.user-reviews .review .links {
  padding-left: 210px;
}
.user-reviews .review .links, .user-reviews .review .links a {
  color: #C7254E;
}
.event {
  border: 1px solid #ccc;
  margin-top: 14px;
  padding: 14px;
  overflow: hidden;
  width:100%;
  box-shadow: 0 3px 15px #999999;
}
.event .title {
	font-size: 18px;
	margin-bottom: 4px;
	white-space: nowrap;
}
.event .images {
  height: 204px;
  overflow: hidden;
}
.event .images .image img {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 1px;
}

.event .image img {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 1px;
}
.change-organizer-picture {
  position: relative;
  top: -24px;
  color: #fff;
  background: #aaa;
  padding: 2px 0;
  text-align: center;
  display: inline-block;
  width: 200px;
  opacity: 0.65;
  cursor: pointer;
}
.organizer-menu .list-group-item {
  color: #614f4f;
  border: 0;
  background-color:rgba(220, 220, 220, 0.75);
  height:60px;
  width:200px;
}
.organizer-menu .list-group-item a {
  color: #b77c40;
  cursor: pointer;
}
.organizer-pic:hover .change-organizer-picture {
  opacity: 1;
}
.organizer-pic img {
  width: 200px;
}
.organizer-profile .event {
  position: relative;
}
.organizerTickets .desc {
  height: 100px;
}
.organizer-profile.events {
  background: #242424;
  margin-left: 0;
  margin-right: 0;
}
.organizer-profile .nav-tabs > li.active > a, .organizer-profile .nav-tabs > li.active > a:hover, .organizer-profile .nav-tabs > li.active > a:focus {
  background: orange;
  color: #222;
}
.organizer-profile .event .actions {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  opacity: 0.9;
  width: 100%;
}
.organizer-profile .event .actions .list-group-item {
  background: #333;
  border: 0;
}
.organizer-profile .event .actions .list-group-item:last-child {
  padding-bottom: 20px;
}
.organizer-profile .event .actions .list-group-item a {
  color: #ccc;
  cursor: pointer;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: block;
  text-align: center;
}
.organizer-profile .event .actions .list-group-item:first-child a {
  border-top: 0;
}
.organizer-profile .event:hover .actions {
  display: block;
}
.organizer-profile .organizer-settings, .organizer .table-responsive {
  background-color:rgba(220, 220, 220, 0.75);
}
.organizer-ask .queries .query img {
  width: 80px;
  height: 85px;
  padding-top: 5px;
}
.organizer-ask .queries .query .text {
  padding-left: 90px;
}
.organizer-ask .queries .query {
  border-bottom: 2px dotted #ddd;
  margin-bottom: 11px;
  padding-bottom: 11px;
}
.organizer-ask .queries .query .comments .comment img {
  width: 50px;
  height: 55px;
  padding-top: 5px;
}
.organizer-ask .queries .query .comments .comment .text {
  padding-left: 60px;
}
.organizer-ask .queries .query .comments blockquote {
  padding: 5px 20px;
  margin-bottom: 8px;
}
.organizer-ask .comment-time {
  color: #888;
}
.organizer-ask .show-all-comments {
  border: 1px solid #ddd;
  background: #eee;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
}
.organizer-ask .comment-response .btn {
  margin: 10px 0;
}
.switchcategory {
	width: 150px;
	height: 40px;
	float:right;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	color: black;
	border: 1px solid rgba(252, 243, 27, 1.0);
	background-color: rgba(252, 243, 27, 0.8);
	border-radius: 5px;
	cursor: pointer;
}
.profile {
    font-family: "Andika";
    background-image: url("../eventimages/adda/groups/1.jpg");
    background-size: 100% auto;
    height: 300px;
    position: relative;
    width: 100%;
}
.userProfileNavTabs {
	position: relative;
	font-family: "Andika";
	margin-left: 80px;
	height: auto;
}
.picture{
    float: left;
    margin-left: 120px;
    margin-top: 160px;
    width: 120px;
}
.change-picture {
    background: none repeat scroll 0 0 #AAAAAA;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    opacity: 0.75;
    padding: 2px 0;
    text-align: center;
    width: 120px;
}

.userdetails {
	float: left;
	margin-top: 160px;
    width: 60%;
	color: #C7254E;
	background-color: rgba(10, 10, 10, 0.2);
}
.row.events {
    margin-right: 40px;
    margin-top: 20px;
}

.organizer_report {
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	color: rgb(15, 12, 5);
	background: rgba(255,255,255,.7);
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
	margin-top: 20px;
	height:auto;
}