<div>
    <div class="container_type_sel">
        <div style="float:right;" class="icon_32 icon_grid_view" ng-click="container_view_change(0)"></div>
        <div style="float:right;" class="icon_32 icon_list_view" ng-click="container_view_change(1)"></div>
    </div>

    <div style="clear: both"></div>

    <h3 class="addas_search_title">Most active Addas in {{currentCity}}</h3>

    <div ng-switch on="searchStatus">
        <div ng-switch-when="found">


            <div id="adda_items" ng-class="container_style()">
                <div masonry ub-scroll='loadMoreAddas()' ub-scroll-distance='1' ub-scroll-immediate-check='false'>
                    <div class="masonry-brick adda_panel" ng-repeat="adda in listData" ng-init="init(adda)"  >
                        <div class="item">
                            <h4><a href="#/addaview/{{adda.id}}">{{adda.addaName}}</a></h4>
                            
                            <img class="cover_photo" ng-src="{{adda.addaPicture}}">

                            <div class="user_info">
                                <img class="user_photo" ng-src="{{adda.organizerLogoURL}}">

                                <div>
                                    <a href="#">{{adda.organizedBy}} </a>
                                    <span class="tag" ng-repeat="tag in adda.tags">&bull; {{tag}}</span>
                                </div>
                            </div>
                            <div class="comments">
                                <i class="icon icon-comment"></i><span>{{getNumOfMembers(adda)}} members</span><i class="icon icon-arrow-up"></i>
                                <span>{{getNumOfNoticeBoards(adda)}} notice</span>
                            </div>
                            <div class="most_recent_event">
                                <div>
                                    <img class="event_photo" ng-src="{{getMostRecentEvent(adda).eventImageUrl}}">
                                    <span class="recent_event_title">{{getMostRecentEvent(adda).eventName}}</span>
                                </div>

                                <span class="recent_event_info">{{getMostRecentEvent(adda).eventInfo}}</span>
                            </div>

                            <div class="more_events">
                                {{ adda.events.length - 1 }} More Things To Do &raquo;
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        <div ng-switch-when="notFound">
            <h2>No adda found matching your criteria.</h2>

            <h3>You might like these: </h3>

            <div id="adda_items_suggested">
                <ul id="myContentSuggested">

                    <li class="adda_panel" ng-repeat="adda in listDataSuggested" ng-init="init(adda)">

                        <div class="item">
                            <h4>{{adda.addaName}}</h4>
                            <img class="cover_photo" ng-src="{{adda.addaPicture}}">

                            <div class="user_info">
                                <img class="user_photo" ng-src="{{adda.organizerLogoURL}}">

                                <div>
                                    <a href="#">{{adda.organizedBy}} </a>
                                    <span class="tag" ng-repeat="tag in adda.tags">&bull; {{tag}}</span>
                                </div>
                            </div>
                            <div class="comments">
                                <i class="icon icon-comment"></i><span>comments</span><i class="icon icon-arrow-up"></i>
                                <span>votes</span>
                            </div>
                            <div class="most_recent_event">
                                <img class="event_photo" ng-src="{{getMostRecentEvent(adda).eventImageUrl}}">
                                <span class="recent_event_title">{{getMostRecentEvent(adda).eventName}}</span>
                            </div>

                            <div class="more_events">
                                {{ adda.events.length - 1 }} More Things To Do &raquo;
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>