<div ng-init="init()" class="container" style="padding: 20px 0;">
    <div class="addaevent_coverphoto" style="position:relative; background-image: url('{{event.eventPhotos[0].imageURL}}'); background-size: 100%; background-repeat: no-repeat; width: 100%; height: 400px;">
        <!--<img ng-src="{{event.eventPhotos[0].imageURL}}" alt=""/>-->

        <div class="btn-options-event" data-ng-switch="isOrganizer">

            <div data-ng-switch-when="true">

                <button class="btn addaevent_editbutton" ng-click="editevent(event)">Edit event</button>
            </div>
            <div data-ng-switch-when="false">

                <button class="btn addaevent_bookmark"><i class="fa fa-bookmark"></i></button>
                <button class="btn addaevent_checked"><i class="fa fa-check"></i></button>
                <button class="btn addaevent_attendevent">ATTEND EVENT</i></button>
            </div>

        </div>

        <h1 class="addaevent_title">{{event.eventTitle}}</h1>

        <div class="addaevent_infobox">

        </div>

        <div class="addaevent_organizername">
            <h3>ORGANIZER</h3>
            <span>{{adda.organizedBy}}</span>
        </div>
        <div class="addaevent_organizerlogo">
            <img ng-src="{{adda.organizerLogoURL  }}" alt=""/>
        </div>
        <div class="addaevent_details">
            <div><span>LOCATION: </span>{{ event.eventVenue }}</div>
            <div><span>DATE: </span>{{ eventDate | date : 'd MMMM' }}</div>
            <div><span>FEE: </span>{{event.fee | currency}}</div>
            <div><span>SLOTS AVAILABLE: </span>{{event.eventSlots}}</div>
        </div>

        <div class="navbar navbar-default">
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav addaevent_menu">
                    <li ng-class=" getMenuClass('info')">
                        <menu-item href="#" show="show('info')">Info</menu-item>
                    </li>
                    <li ng-class="getMenuClass('participants')">
                        <menu-item href="#" show="show('participants')">Participants ({{event.participants.length}})
                        </menu-item>
                    </li>
                    <li ng-class="getMenuClass('photos')">
                        <menu-item id="photosmenu" ub-lightbox-button>Photos</menu-item>
                        <!--<ub-lightbox-button show="show('photos')">PHOTOS</ub-lightbox-button>-->
                    </li>
                    <li ng-class="getMenuClass('comments')">
                        <menu-item href="#" show="show('comments')">Comments</menu-item>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/adda">Addas</a></li>
        <li><a href="#/addaview/{{ adda.id }}">{{ adda.addaName}}</a></li>
        <li class="active">{{event.eventTitle}}</li>
    </ol>
    <div ng-show="active == 'info'" class="addavent_panel">

        <div class="row">
            <div class="col-md-9">
                <div style="margin-bottom: 50px;">
                    {{event.eventInfo}}
                </div>
                <div class="addaevent_commentpanel">
                    <textarea class="form-control" ng-model="newcommenttext"></textarea>

                    <div class="addaevent_commentbtnpanel">
                        <button class="btn btn-default pull-right" ng-click="postComment()">Post</button>
                    </div>

                </div>
                <div id="addacomments_threads">
                    <ub-comments-thread comments='infoComments'></ub-comments-thread>
                    <button class="btn btn-default" data-ng-show="event.membersComments.length>5"
                            ng-click="show('comments')">View all Comments
                    </button>
                </div>

            </div>
           

        </div>

    </div>
</div>

<div ng-show="active == 'participants'" class="container">

    <slider-members members="event.participants"></slider-members>

</div>

        <div class="container">
<ub-lightbox-gallery photos="event.eventPhotos" ></ub-lightbox-gallery>
        </div>

<!--</div>-->

<div ng-show="active == 'comments'" class="container">
    <div style="background: white;">
        <div class="addaevent_comments">
            <div class="addaevent_comment" ng-repeat="comment in event.membersComments">
                <ub-comments-thread comments='event.membersComments'></ub-comments-thread>
            </div>

        </div>
    </div>
</div>
</div>


