<div class="modal-dialog">
  <div class="modal-content">
    <form class="form-horizontal" name="changePasswordForm" data-ng-submit="changePassword(hide);">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>User Change Password</h3>
        </div>
        <div class="modal-body">
        <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="name" class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label">Current Password</label>
                        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                            <input class="form-control" type="password" data-ng-model="password.current" required>
                        </div>
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="region" class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label">New Password</label>
                        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                            <input class="form-control" type="password" data-ng-model="password.new" required>
                        </div>
                  </div>
                </div>
          </div>
		  <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="region" class="col-lg-4 col-md-4 col-sm-5 col-xs-12 control-label">Repeat Password</label>
                        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
                            <input class="form-control" type="password" data-ng-model="password.renew" required>
                        </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-ng-click="hide()">Close</button>
          <button class="btn btn-primary" data-ng-disabled="!changePasswordForm.$valid">Change Password</button>
        </div>
    </form>
  </div>
</div>
